SELECT
    ST_AsMVTGeom(ST_PointOnSurface(way), {{bbox}}, {{extent}}) AS way,
    osm_id,
    name,
    admin_level::integer
  FROM planet_osm_polygon
  WHERE way && {{bbox}}
    AND boundary = 'administrative'
    AND name IS NOT NULL
{% if zoom <= 3 %}
    AND admin_level = '2'
{% elif zoom <= 7 %}
    AND admin_level IN ('2', '4')
{% elif zoom <= 9 %}
    AND admin_level IN ('2', '4', '5')
{% elif zoom <= 12 %}
    AND admin_level IN ('2', '4', '5', '6')
{% else %}
    AND admin_level IN ('2', '4', '6', '8')
{% endif %}
{% if zoom <= 12 %}
    AND way_area > {{tile_area}}*0.05^2
{% endif %}
    AND osm_id < 0
  ORDER BY admin_level::integer
