SELECT
    ST_AsMVTGeom(ST_Collect(way), {{unbuffered_bbox}}, {{extent}}, {{buffer}}) AS way,
    landuse
  FROM planet_osm_polygon
  WHERE way && {{bbox}}
{% if zoom <= 8 %}
    AND landuse IN ('farmland', 'residential', 'commercial', 'retail', 'industrial', 'vineyard', 'orchard')
{% else %}
    AND landuse IN ('farmyard', 'farmland', 'residential', 'commercial', 'retail', 'industrial', 'vineyard', 'orchard', 'quarry', 'cemetery', 'allotments', 'railway', 'construction', 'brownfield')
{% endif %}
  GROUP BY landuse
