SELECT
    ST_AsMVTGeom(way, {{bbox}}, {{extent}}) AS way,
    osm_id,
    landuse
  FROM planet_osm_polygon
  WHERE way && {{bbox}}
    AND landuse IN ('farmyard', 'farmland', 'residential', 'commercial', 'retail', 'industrial', 'vineyard', 'orchard')
    AND way_area > 4*{{coordinate_area}}
