SELECT
    ST_AsMVTGeom(ST_Collect(way), {{bbox}}, {{extent}}) AS way,
    boundary,
    landuse,
    leisure
  FROM planet_osm_polygon
  WHERE way && {{bbox}}
    AND (boundary IN ('aboriginal_lands', 'national_park')
    OR landuse = 'military'
    OR leisure = 'nature_reserve')
    AND way_area > 256*{{coordinate_area}}
  GROUP BY boundary, landuse, leisure
