SELECT
    ST_AsMVTGeom(way, {{bbox}}, {{extent}}) AS way,
    osm_id,
    name,
    highway
  FROM planet_osm_roads
  WHERE way && {{bbox}}
{% if zoom <= 7 %}
    AND highway IN ('motorway', 'trunk')
{% elif zoom <= 8 %}
    AND highway IN ('motorway', 'trunk', 'primary')
{% else %}
    AND highway IN ('motorway', 'trunk', 'primary', 'secondary')
{% endif %}
