SELECT
  ST_AsMVTGeom(way, {{bbox}}, {{extent}}, {{buffer}}) AS way,
  highway,
  railway
  FROM (
SELECT
    ST_RemoveRepeatedPoints(ST_LineMerge(ST_Collect(way)), 4*{{coordinate_length}}) AS way,
    highway,
    NULL AS railway,
    z_order
{% if zoom <= 8 %}
  FROM planet_osm_roads
{% else %}
  FROM planet_osm_line
{% endif %}
  WHERE way && {{bbox}}
{% if zoom <= 6 %}
    AND highway IN ('motorway', 'trunk')
{% elif zoom <= 7 %}
    AND highway IN ('motorway', 'trunk', 'primary')
{% elif zoom <= 8 %}
    AND highway IN ('motorway', 'trunk', 'primary', 'secondary')
{% else %}
    AND highway IN ('motorway', 'trunk', 'primary', 'secondary', 'tertiary')
{% endif %}
  GROUP BY highway, railway, z_order
{% if zoom >= 7 %}
UNION ALL
SELECT
    ST_RemoveRepeatedPoints(ST_LineMerge(ST_Collect(way)), 4*{{coordinate_length}}) AS way,
    NULL AS highway,
    railway,
    z_order
  FROM planet_osm_roads
  WHERE way && {{bbox}}
    AND railway = 'rail'
    AND (service IS NULL OR service NOT IN ('spur', 'siding', 'yard'))
  GROUP BY highway, railway, z_order
{% endif %}
  ) AS unordered_transportation
  ORDER BY z_order
