SELECT
    ST_AsMVTGeom(way, {{unbuffered_bbox}}, {{extent}}, {{buffer}}) AS way,
    osm_id,
    ref,
    highway AS class
  FROM planet_osm_point
  WHERE way && {{bbox}}
    AND highway = 'motorway_junction'
