SELECT
    ST_AsMVTGeom(ST_Collect(way), {{bbox}}, {{extent}}) AS way,
    CASE WHEN "natural" IN ('wood', 'heath', 'grassland', 'scrub', 'wetland', 'mud') THEN "natural" END AS "natural",
    CASE WHEN "natural" = 'wetland' THEN tags->'wetland' END AS wetland,
    CASE WHEN landuse IN ('forest', 'meadow', 'grass') THEN landuse END AS landuse
  FROM planet_osm_polygon
  WHERE way && {{bbox}}
    AND ("natural" IN ('wood', 'heath', 'grassland', 'scrub', 'wetland', 'mud')
      OR landuse IN ('forest', 'meadow', 'grass'))
    AND way_area > 4*{{coordinate_area}}
  GROUP BY "natural", tags->'wetland', landuse
