SELECT
    ST_AsMVTGeom(ST_RemoveRepeatedPoints(ST_LineMerge(ST_Collect(way)),  4*{{coordinate_length}}), {{unbuffered_bbox}}, {{extent}}, {{buffer}}) AS way,
    name,
    waterway
  FROM planet_osm_line
  WHERE way && {{bbox}}
{% if zoom <= 10 %}
    AND waterway = 'river'
{% elif zoom <= 13 %}
    AND waterway IN ('river', 'canal')
{% else %}
    waterway IN ('river', 'canal', 'stream', 'drain', 'ditch')
{% endif %}
  GROUP BY waterway, name
