SELECT
    ST_AsMVTGeom(ST_PointOnSurface(way), {{unbuffered_bbox}}, {{extent}}, {{buffer}}) AS way,
    osm_id,
    name,
    CASE
      WHEN waterway = 'riverbank' THEN 'river'
      WHEN waterway = 'dock' THEN 'dock'
      WHEN landuse IN ('reservoir', 'basin') THEN landuse
      ELSE water
    END AS water
  FROM planet_osm_polygon
  WHERE ST_PointOnSurface(way) && {{bbox}}
    AND name IS NOT NULL
    AND (waterway = 'dock'
        OR landuse IN ('reservoir', 'basin')
        OR "natural" IN ('water'))
    AND way_area > 0.1^2*{{tile_area}}
