SELECT
    ST_AsMVTGeom(ST_RemoveRepeatedPoints(ST_LineMerge(ST_Collect(way)),  4*{{coordinate_length}}), {{bbox}}, {{extent}}) AS way,
    name,
    waterway
  FROM planet_osm_line
  WHERE way && {{bbox}}
    AND waterway = 'river'
  GROUP BY waterway, name
