SELECT
    ST_AsMVTGeom(ST_Collect(way), {{bbox}}, {{extent}}) AS way,
    'ocean' AS water
{% if zoom <= 8 %}
  FROM simplified_water_polygons
{% else %}
  FROM water_polygons
{% endif %}
  WHERE way && {{bbox}}
UNION ALL
SELECT
    ST_AsMVTGeom(ST_Collect(way), {{bbox}}, {{extent}}) AS way,
    CASE
      WHEN waterway = 'riverbank' THEN 'river'
      WHEN waterway = 'dock' THEN 'dock'
      WHEN landuse IN ('reservoir', 'basin') THEN landuse
      ELSE water
    END AS water
  FROM planet_osm_polygon
  WHERE way && {{bbox}}
    AND (waterway IN ('dock', 'riverbank')
        OR landuse IN ('reservoir', 'basin')
        OR "natural" IN ('water'))
    AND way_area > 256 * {{coordinate_area}}
  GROUP BY waterway, landuse, water
